<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736874250539-sr6ue2qed8nrrkjvo6ej3cosr1vu36mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736874250539-sr6ue2qed8nrrkjvo6ej3cosr1vu36mu</string>
	<key>API_KEY</key>
	<string>AIzaSyDJhz3cIdG113y1cUNkgq25Ep_S5vZSQSw</string>
	<key>GCM_SENDER_ID</key>
	<string>736874250539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bierbaum.com.superbingo</string>
	<key>PROJECT_ID</key>
	<string>superbingo-2af48</string>
	<key>STORAGE_BUCKET</key>
	<string>superbingo-2af48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736874250539:ios:2af42fdb04034a958ec56e</string>
	<key>DATABASE_URL</key>
	<string>https://superbingo-2af48.firebaseio.com</string>
</dict>
</plist>